<header class="header_area">
  <div class="top_menu row m0">
    <div class="container-fluid">
      <div class="float-left">
        <p>Call Us: 012 44 5698 7456 896</p>
      </div>
      <div class="float-right">
        <ul class="right_side">
          <li>
            <a routerLink="#">
              Login/Register
            </a>
          </li>
          <li>
            <a routerLink="/info-account">
              My Account
            </a>
          </li>
          <li>
            <a routerLink="#">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" routerLink="#">
          <img src="../../../assets/img/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <div class="row w-100">
            <div class="col-lg-7 pr-0">
              <ul class="nav navbar-nav center_nav pull-right">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="#">Home</a>
                </li>
                <li class="nav-item submenu dropdown">
                  <a routerLink="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">Shop</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Shop Category</a>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/detail">Product Details</a>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Product Checkout</a>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/cart">Shopping Cart</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Confirmation</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item submenu dropdown">
                  <a routerLink="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">Blog</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Blog Details</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item submenu dropdown">
                  <a routerLink="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">Pages</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Login</a>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Tracking</a>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="#">Elements</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="#">Contact</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-5">
              <ul class="nav navbar-nav navbar-right right_nav pull-right">
                <hr>
                <li class="nav-item">
                  <a routerLink="#" class="icons">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </a>
                </li>

                <hr>

                <li class="nav-item">
                  <a routerLink="#" class="icons">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                </li>

                <hr>

                <li class="nav-item">
                  <a routerLink="#" class="icons">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </a>
                </li>

                <hr>

                <li class="nav-item">
                  <a routerLink="#" class="icons">
                    <i class="lnr lnr lnr-cart"></i>
                  </a>
                </li>

                <hr>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content text-center">
        <h2>Product Details</h2>
        <div class="page_link">
          <a href="#">Home</a>
          <a href="#">Category</a>
          <a href="#">Product Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->
