<app-navbar></app-navbar>


<section class="login_box_area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="../assets/img/avatar.jpg" alt="" width="100%" height="100%">
          <div  style="text-align: center;">
            <button class="main_btn" style="width: 100%;border-radius: 0px;">Choose File Picture</button>
          </div>
          <div style="margin-top: 30px;" >
            <h4>Phan Thanh Tùng</h4>
            <p>Email: tungphapphap@gmail.com</p>
            <p>Phone Number: 0123456789</p>
            <p>Address: HCM</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login_form_inner">
          <h2>ACCOUNT INFORMATION</h2>
          <form class="row login_form" >
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Username">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Password">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Phone Number">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Email">
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Address">
            </div>

            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="btn btn-danger" style="width: 100%;">UPDATE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
